<launch>
  
  <node name="um7_wrapper_node" pkg="um7" type="um7_driver" output="screen">
 
    <param name="port"            value="/dev/ttyUSB0" />
    <param name="baud"            value="115200" />
    <param name="frame_id"        value="imu_link" />
    <param name="mag_updates"     value="true" />
    <param name="quat_mode"       value="false" />
    <param name="zero_gyros"      value="true" />

  </node>

</launch>
